services:
  outpostimmobile.api:
    image: OutpostImmobile
    depends_on: 
      - "importer"
    build:
      context: ./OutpostImmobile.Api
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    environment:
      - ASPNETCORE_URLS=http://*:5000
    networks:
      - Outpost-Network

  outpostimmobile.app:
    image: OutpostImmobileApp
    build:
      context: ./outpostimmobile.app
      dockerfile: Dockerfile
    ports:
      - 5002:5002
    environment:
      - REACT_APP_API_URL=http://localhost:5002
    networks:
      - Outpost-Network
  
  database:
    image: pgrouting/pgrouting:latest
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - ./volumes/data/db:/var/lib/postgresql/data
    ports:
      - 5433:5432
    networks: 
      - Outpost-Network
  
  importer:
    image: docker-registry.geofabrik.de/osm2pgrouting/osm2pgrouting:latest
    depends_on:
      - "database"
    environment:
      DB_HOST: db
      DB_USER: user
      DB_PASS: password
      DB_NAME: routing_db
      OSM_DATA_URL: "https://download.geofabrik.de/europe/poland-latest.osm.pbf"
      LOCAL_FILE_PATH: "/tmp/poland.osm.pbf"
    command: >
      sh -c "
        echo '1. Downloading OSM file...' &&
        # Use curl to download the file to a temporary location
        curl -L -o $$LOCAL_FILE_PATH $$OSM_DATA_URL &&
      
        echo '2. Running osm2pgrouting to import data...' &&
        # Run osm2pgrouting using the downloaded file
        osm2pgrouting -f $$LOCAL_FILE_PATH
                      -c 'host=$$DB_HOST user=$$DB_USER dbname=$$DB_NAME password=$$DB_PASS' 
                      -W $$DB_PASS
                      -clean &&
      
        echo '3. Cleaning up temporary file...' &&
        rm $$LOCAL_FILE_PATH
      "
    profiles: [ "importer" ]
  
networks:
  Outpost-Network:
    driver: bridge
